// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.default-button {
  background-color: #005cb9;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.default-button:hover {background-color: #005cff}

.default-button:active {
  background-color: #005cff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.danse-button {
    background:url(/images/pixel-sitting.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.danse-button:hover {background:url(/images/pixel-win.png) no-repeat;}

.danse-button:active {
  background:url(/images/pixel-win.png) no-repeat;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
