<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bienvenue sur PrimaKid !</ion-title>
     <i class="icon ion-home"></i>

     <ion-icon name="settings"></ion-icon>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ng-controller="home">


<!-- Here comes your Games to test -->

<!--<button [navPush]="about.html" >
Test de bouton
</button>-->

<button class="danse-button" ng-model="count" ng-click="count = count + 1" ng-init="count=0">
</button>
<span>Count : {{count}} </span>

  </div>

<button class="learn-button" >
</button>


</ion-content>
